// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Times New Roman", serif;
}

.color-disabled, .color-empty-list {
    color: #a999ac !important;
}

.color-caption {
    color: #295b84 !important;
}

section.container {
    padding: 10px;
}

section.main {
    padding: 10px;
    height: auto;
    min-height: 375px;
    font-size: 1.25rem;
}

header {
    height: 100px;
    background-color: $dark-gray;
    color: $steel;
    text-align: center;
    padding: 20px 10px;
    box-sizing: border-box;
}

footer {
    background-color: transparent;
    color: $steel;
    height: 8rem;
}

.footer-menu {
    height: 4rem;
    padding: 0.5rem 0 0.8rem 0;
}

.sub-footer {
    background-color: $dark-gray;
    height: 4rem;
}

.sub-footer-content {
    padding: 0.8rem 0 0.8rem 0;
    width: 100%;
    text-align: center;
}

header h2 {
    margin: 0;
}

.cursor-pointer {
    cursor: pointer;
}

.w-rem-10 {
    width: 10rem !important;
}

.h-rem-10 {
    height: 10rem !important;
}

.input-over-image {
    margin: 0.25rem;
    border: 1px solid transparent;
    box-sizing: border-box;
}

// Users views
li.active {
    background: #eaa5a3 !important;
}

span.rating-active {
    color: #1c7430 !important;
    overflow: hidden;
    left: 1rem;
}

// Profile view
.message-saved {
    position: absolute;
    width: 25%;
    overflow: hidden;
    left: 1rem;
}
