<template>
<!--    <a class="navbar-brand" :href="this.route">-->
<!--        <slot></slot>-->
<!--    </a>-->

    <div class="btn-area">
        <div class="color-caption btn form-control text-center" @click="onClick" id="btn-add">
            <slot></slot>
        </div>
    </div>
</template>

<script>
export default {
    name: "AddButton",
    props: {
        route: {type: String},
    },
    methods: {
        onClick() {
            window.location = this.route;
        }
    }
}
</script>

<style scoped>

#btn-add {
    border-radius: 0.25rem;
    border: #0e7924 solid 1px;
    color: #0e7924 !important;
    width: 100%;
    font-weight: bolder;
    padding: 0.25rem;
}

.btn-area {
    margin-right: 1rem;
}
</style>
