<template>
    <i class="fas fa-long-arrow-alt-left" style="font-size: 2rem;color:#2d3748"></i>
</template>

<script>
export default {
    name: "ArrowLeft",
    props: {

    },
}
</script>

<style scoped>

</style>
